---
import { Link } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import themeConfig from '@theme-config'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<Link href="/" class="group flex items-center gap-2">
  {
    themeConfig.logo && (
      <div
        class="h-11 w-11 bg-linear-to-br from-blue-500 to-emerald-500 transition-transform duration-300 group-hover:scale-110"
        style={`
          mask-image: url(${themeConfig.logo.src});
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-image: url(${themeConfig.logo.src});
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
        `}
        aria-hidden="true"
      />
    )
  }
  <span class="text-sm font-bold transition-colors group-hover:text-blue-500 sm:text-lg">
    {themeConfig.name}
  </span>
</Link>
